{% extends 'mywebsite/mainHTML.html' %}
{% block content %}
<h1> Add News </h1>
<form action="{% url 'recordNews' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="" class="form-label">Topic</label>
        <input type="text" class="form-control" name="topic_news" required>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Detail</label>
        <textarea class="form-control"  rows="10" name="detail_news" required></textarea>
      </div>
      <div>
          <input type="file" class="form-control" name="photo_news" accept="image/" required>
      </div>
      <div>
          <button type="submit" class="btn btn-primary" > Submit News </button>
      </div>
</form>

{% endblock %}